<h1><%= link_to @deck.title, @deck %></h1>
<%= link_to "Edit Card", edit_deck_flashcard_path(@deck, @flashcard) %> | 
<%= link_to "Delete Card", deck_flashcard_path(@deck, @flashcard), method: :delete, data: {confirm: "You sure?"} %>
<div class="flashcard-side1"><%= @flashcard.side_one %></div>
<div class="flashcard-side2"><%= @flashcard.side_two %></div>

